name: Rust

permissions:
  contents: read

on:
  push:
    branches: [ "master" ]
  pull_request:
   branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@1.91.0
      with:
        toolchain: 1.91.0
        override: true
    - name: verify canonical greentic component WIT is not vendored
      run: ci/check_no_duplicate_canonical_wit.sh
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
